<div class="jumbotron">
  <div class="container">

  	<div class="center">
    <h1> Craigslist Scraper USA</h1>
    <h2>The Easiest way to find apartement rentals in Brooklyn</h2>
</div>

  <%= render 'filter' %>


  </div>
</div>